<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File manager</title>
    <style>
        a{ cursor: pointer; }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
</head>
<body style="font-family:Verdana,Tahoma,sans-serif;line-height:normal;padding:2px;font-size: .9rem; max-width: 800px;">
<div class="" style="margin:6px;">
<div class="t9n">
    <a href="/{_global_.z}"><img class="icon8" src="/i/home.png"/></a>
    &nbsp; 
    <div style="display: inline; margin-top: 7px"><a href="/{_global_.z}"><t9n>[RU]Вернуться в&nbsp;основное меню[EN]Back to main menu</t9n></a>
    </div>
</div>
<br />
<p>
    <t9n>[RU]Это техническая страница. Здесь вы можете восстановить поврежденные файлы шаблона, если ваши страницы перестали из-за них работать.<br />
            Оригинальные файлы можно скачать <a target="git" href="https://github.com/ideav/integram-front/tree/main/templates">здесь</a> и загрузить в папку <a href="/{_global_.z}/dir_admin/?templates=1">templates</a>.
        [EN]This is a maintenance page. Here you may fix the corrupted templates in case your application is not working because of them.<br />
            The original files can be downloaded <a target="git" href="https://github.com/ideav/integram-front/tree/main/templates">here</a> and uploaded to the <a href="/{_global_.z}/dir_admin/?templates=1">templates</a> folder.
    </t9n> 
</p>
<script language="javascript">
    var db='{_global_.z}';
    function copyLink(link){
        document.getElementById('copy_path').style='display:block';
        document.getElementById('copy_path').value=link;
        document.getElementById('copy_path').select();
        document.execCommand('copy');
        document.getElementById('copy_path').style='display:none';
    }
    function sel_all(){
     if( !document.view_dir.cheks ) return;
     if( !document.view_dir.cheks.length )
    	document.view_dir.cheks.checked = document.view_dir.cheks.checked ? false : true;
     else
    	for(var i=0;i<document.view_dir.cheks.length;i++)
    		document.view_dir.cheks[i].checked = document.view_dir.cheks[i].checked ? false : true;
    }
</script>
<!-- Begin:&Warnings -->
	<div class="alert alert-info" role="alert">{WARNING}</div>
<!-- End:&Warnings -->
<!-- Begin:&Dir_Admin -->
<form enctype="multipart/form-data" action="/{_global_.z}/dir_admin" method="POST" name="view_dir">
    <input type="hidden" name="_xsrf" value="{_global_.xsrf}">
    <input name="{FOLDER}" type="hidden" value="1">
    <input name="add_path" type="hidden" value="{ADD_PATH}">
    <p><t9n>[RU]Директория на сервере[EN]Current folder</t9n>: <b>{FOLDER}</b>. &nbsp; <t9n>[RU]Перейти к директории[EN]Go to</t9n> <a href="/{_global_.z}/dir_admin/?{ANOTHER}=1">{ANOTHER}</a>.</p>
    <p><a style="border-bottom: 1px dotted;" onclick="document.getElementById('css').style.display='block';"><t9n>[RU]Путь к пользовательским стилям, шрифтам и js[EN]The path to your files, fonts, and scripts</t9n></a></p>
    <div id="css" class="alert alert-info mb-0" role="alert" style="display:none;">
        <t9n>[RU]Для использования собственных стилей загрузите их в директорию <a href="/{_global_.z}/dir_admin/?download=1">download</a> (здесь можно создавать папки и подпапки для стилей, js, шрифтов и прочего), а для доступа к ним из своего html используйте такой путь:
                [EN]Upload the content you are going to use into this folder: <a href="/{_global_.z}/dir_admin/?download=1">download</a> (you may create folders and sub-folders here with CSS, JS, etc., then use this path to fetch those:</t9n> 
            <b> download/&#123;_global_.z}/</b><br />
            <t9n>[RU]Вы также можете скопировать путь к файлу по ссылке &nbsp;<span class="glyphicon glyphicon-copy"></span>&nbsp; возле файла.
                [EN]You may copy the file link using the &nbsp;<span class="glyphicon glyphicon-copy"></span>&nbsp; icon near the required file.</t9n>
    </div>
    <p><a style="border-bottom: 1px dotted;" onclick="document.getElementById('backup').style.display='block';"><t9n>[RU]Архивирование базы[EN]Backup this database</t9n></a></p>
    <div id="backup" class="alert alert-info mb-0" role="alert" style="display:none;">
        <t9n>[RU]Вы можете архивировать вашу базу данных в компактный архив, чтобы потом восстановить его при необходимости. Для получения архива <a href="/{_global_.z}/backup">нажмите здесь</a>.
                [EN]You can archive your database into a compact archive so that you can restore it later if necessary. To get the archive <a href="/{_global_.z}/backup">click here</a>.</t9n> 
            <t9n>[RU]Файл будет также доступен в папке backups внутри <a href="/{_global_.z}/dir_admin/?templates=1">templates</a>.
                [EN]The file will also be available in the backups folder inside templates <a href="/{_global_.z}/dir_admin/?templates=1">templates</a>.</t9n>
    </div>
    <table class="table table-striped table-sm table-bordered w-auto">
      <tr>
        <td class="t9n"><a href="javascript:sel_all()" title="<t9n>[RU]Инвертировать выделение[EN]Toggle the selection</t9n>"><b><font size="3">*</font></b></a></td>
        <td colspan="4" >&nbsp;<a href="/{_global_.z}/dir_admin/?{FOLDER}=1"> .. </a>
    <!-- Begin:&Pattern -->/<a href="/{_global_.z}/dir_admin/?{_parent_.FOLDER}=1&add_path={PATH}">{NAME}</a><!-- End:&Pattern -->
    	</td>
      </tr>
    <!-- Begin:&Dir_list -->
      <tr>
        <td><input type="checkbox"  id="cheks" name="del[]" value="{NAME}"></td>
        <td colspan="2"><a href="/{_global_.z}/dir_admin/?{_parent_.FOLDER}=1&add_path={_parent_.ADD_PATH}/{NAME}"><b>{NAME}</b></a></td>
        <td align="right">&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
    <!-- End:&Dir_list -->
    <!-- Begin:&File_list -->
      <tr>
        <td><input type="checkbox"  id="cheks" name="del[]" value="{NAME}"></td>
        <td style="vertical-align:middle;">&nbsp;<a href="/{_global_.z}/dir_admin/?{_parent_.FOLDER}=1&add_path={_parent_.ADD_PATH}&gf={NAME}">{NAME}</a>&nbsp;</td>
        <td class="t9n" style="padding:2px;">&nbsp;
            <a href="/ace/editor.html?src=/{_global_.z}/dir_admin/&{_parent_.FOLDER}=1&add_path={_parent_.ADD_PATH}&gf={NAME}" target="_blank" title="<t9n>[RU]Редактировать (в новом окне)[EN]Edit (in a new tab)</t9n>"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 16.66V22C22 22.5304 21.7893 23.0391 21.4142 23.4142C21.0391 23.7893 20.5304 24 20 24H6C5.46957 24 4.96086 23.7893 4.58579 23.4142C4.21071 23.0391 4 22.5304 4 22V8C4 7.46957 4.21071 6.96086 4.58579 6.58579C4.96086 6.21071 5.46957 6 6 6H11.34M20 4L24 8L14 18H10V14L20 4Z" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></a>&nbsp;&nbsp;
            <a class="menu-name" name="{NAME}" onclick="copyLink('{NAME}'.replace('.html',''))" title="<t9n>[RU]Скопировать имя шаблона для вставки в меню[EN]Copy the template name to put to the menu</t9n>"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6H20C20.5304 6 21.0391 6.21071 21.4142 6.58579C21.7893 6.96086 22 7.46957 22 8V22C22 22.5304 21.7893 23.0391 21.4142 23.4142C21.0391 23.7893 20.5304 24 20 24H8C7.46957 24 6.96086 23.7893 6.58579 23.4142C6.21071 23.0391 6 22.5304 6 22V8C6 7.46957 6.21071 6.96086 6.58579 6.58579C6.96086 6.21071 7.46957 6 8 6H10M11 4H17C17.5523 4 18 4.44772 18 5V7C18 7.55228 17.5523 8 17 8H11C10.4477 8 10 7.55228 10 7V5C10 4.44772 10.4477 4 11 4Z" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></a><span class="menu-name" name="{NAME}">&nbsp;&nbsp;</span>
            <a class="file-name" onclick="copyLink('/{_parent_.FOLDER}/{'+'_global_.z}{_parent_.ADD_PATH}/{NAME}')" title="<t9n>[RU]Скопировать ссылку для шаблона[EN]Copy the link for your template</t9n>"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6H20C20.5304 6 21.0391 6.21071 21.4142 6.58579C21.7893 6.96086 22 7.46957 22 8V22C22 22.5304 21.7893 23.0391 21.4142 23.4142C21.0391 23.7893 20.5304 24 20 24H8C7.46957 24 6.96086 23.7893 6.58579 23.4142C6.21071 23.0391 6 22.5304 6 22V8C6 7.46957 6.21071 6.96086 6.58579 6.58579C6.96086 6.21071 7.46957 6 8 6H10M11 4H17C17.5523 4 18 4.44772 18 5V7C18 7.55228 17.5523 8 17 8H11C10.4477 8 10 7.55228 10 7V5C10 4.44772 10.4477 4 11 4Z" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></a><span class="file-name">&nbsp;&nbsp;</span>
            <a class="file-name" onclick="copyLink('https://'+location.host+'/{_parent_.FOLDER}/{_global_.z}{_parent_.ADD_PATH}/{NAME}')" title="<t9n>[RU]Скопировать абсолютную ссылку[EN]Copy the absolute link</t9n>"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.9436 14.9336C12.373 15.5077 12.9209 15.9827 13.5501 16.3265C14.1793 16.6703 14.8751 16.8747 15.5902 16.9259C16.3054 16.9771 17.0231 16.8739 17.6949 16.6233C18.3667 16.3728 18.9767 15.9806 19.4836 15.4736L22.4836 12.4736C23.3944 11.5305 23.8983 10.2675 23.8869 8.95655C23.8755 7.64557 23.3497 6.39151 22.4227 5.46447C21.4956 4.53743 20.2415 4.01158 18.9306 4.00019C17.6196 3.9888 16.3566 4.49277 15.4136 5.40356L13.6936 7.11356M15.9436 12.9336C15.5141 12.3594 14.9662 11.8844 14.337 11.5406C13.7078 11.1969 13.0121 10.9924 12.2969 10.9412C11.5818 10.89 10.864 10.9932 10.1922 11.2438C9.52045 11.4944 8.91044 11.8865 8.40356 12.3936L5.40356 15.3936C4.49277 16.3366 3.9888 17.5996 4.00019 18.9106C4.01158 20.2216 4.53743 21.4756 5.46447 22.4027C6.39151 23.3297 7.64557 23.8555 8.95655 23.8669C10.2675 23.8783 11.5305 23.3744 12.4736 22.4636L14.1836 20.7536" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></a><span class="file-name">&nbsp;&nbsp;</span>
            <a class="menu-name" name="{NAME}" href="/ace/gjs.html?src=/{_global_.z}/dir_admin/&{_parent_.FOLDER}=1&add_path={_parent_.ADD_PATH}&gf={NAME}" target="_blank" title="<t9n>[RU]Редактировать (в новом окне)[EN]Edit (in a new tab)</t9n>"><img src="/ace/gjs.png" style="vertical-align: baseline;"></a>
            <a class="restore" name="{NAME}" href="/{_global_.z}/restore/?backup_file={NAME}" title="<t9n>[RU]Восстановить из архива[EN]Restore from archive</t9n>" style="display:none"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 14V22C6 22.5304 6.21071 23.0391 6.58579 23.4142C6.96086 23.7893 7.46957 24 8 24H20C20.5304 24 21.0391 23.7893 21.4142 23.4142C21.7893 23.0391 22 22.5304 22 22V14M18 8L14 4M14 4L10 8M14 4V17" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></a>&nbsp;
        </td>
        <td align="right"> &nbsp;{SIZE}</td>
        <td align="left"> &nbsp;{TIME}</td>
      </tr>
    <!-- End:&File_list -->
    <tr>
    <td colspan="5" class="t9n"><input class="btn btn-sm btn-outline-secondary" type="submit" name="delete" value="<t9n>[RU]Удалить выбранные[EN]Delete the selected</t9n>" ></td>
    </tr>
    </table>
    <p><t9n>[RU]Файлов: {FILES}, каталогов: {FOLDERS}[EN]Files: {FILES}, folders: {FOLDERS}</t9n></p>
</form>
<input id="copy_path" type="text" value="" style="display:none;">
<form action="/{_global_.z}/dir_admin/?{FOLDER}=1" method="POST" style="max-width:400px">
    <input name="add_path" type="hidden" value="{ADD_PATH}">
    <input type="hidden" name="_xsrf" value="{_global_.xsrf}">
    <div class="input-group t9n">
       <input name="dir_name" class="form-control form-control-sm" type="text" placeholder="<t9n>[RU]Новый каталог[EN]New folder name</t9n>">
       <span class="input-group-btn">
            <input class="btn btn-sm btn-outline-secondary" type="submit" name="mkdir" value="<t9n>[RU]Создать[EN]Create</t9n>" >
       </span>
    </div>
</form>
<br />
<form action="/{_global_.z}/dir_admin/?{FOLDER}=1" method="POST" style="max-width:400px">
    <input name="add_path" type="hidden" value="{ADD_PATH}">
    <input type="hidden" name="_xsrf" value="{_global_.xsrf}">
    <div class="input-group t9n">
       <input name="dir_name" class="form-control form-control-sm" type="text" placeholder="<t9n>[RU]Новый файл[EN]New file name</t9n>">
       <span class="input-group-btn">
            <input class="btn btn-sm btn-outline-secondary" type="submit" name="touch" value="<t9n>[RU]Создать[EN]Create</t9n>" >
       </span>
    </div>
</form>
<br />
<table class="table table-striped table-sm table-bordered">
    <tr>
        <td>
            <form enctype="multipart/form-data" action="/{_global_.z}/dir_admin/?{FOLDER}=1" method="POST">
                <input name="add_path" type="hidden" value="{ADD_PATH}">
                <input type="hidden" name="_xsrf" value="{_global_.xsrf}">
                <p><t9n>[RU]Загрузить файл:[EN]File upload</t9n> <input name="userfile" type="file"></p>
                <p class="t9n"><label><input type="checkbox" name="rewrite"> <t9n>[RU]Перезаписать[EN]Overwrite</t9n> </label>&nbsp; &nbsp; &nbsp; 
                <input class="btn btn-sm btn-outline-secondary" type="submit" name="upload" value="<t9n>[RU]Загрузить[EN]Upload</t9n>" ></p>
            </form>
        </td>
    </tr>
</table>
<!-- End:&Dir_Admin -->
</div>
<script src="/js/js.js"></script>
<script>
    if(search.download)
        $('.menu-name').remove();
    else{
        $('.file-name,.menu-name:not([name$=".html"])').remove();
        $('.restore[name$=".dmp.zip"]').show();
    }
    localize();
</script>
</body>
</html>