<div id="frame" style="max-width:1050px;">
<h2><t9n>[RU]Интеграл приветствует вас![EN]IdeaV welcomes you!</t9n></h2>
<p><t9n>[RU]Рекомендую для начала посмотреть <a target="_blank" href="https://youtu.be/JHYIWIUDkSk">обзорный ролик</a> по возможностям сервиса.
    [EN]We recommend first to watch a <a target="_blank" href="https://youtu.be/JHYIWIUDkSk">short video</a> about the basic set of Ideav's functionality.</t9n></p>
<p><t9n>[RU]Далее я предлагаю вам пройти интерактивные уроки, чтобы самостоятельно делать приложения, показанные в ролике. Уроки следует проходить в указанной последовательности, потому что некоторые уроки используют материал, созданный в предыдущих уроках.
    [EN]Next, I suggest that you go through interactive lessons to learn how to start creating the apps like those shown in the video. The lessons should be taken in the order below because some of them use material created in previous lessons.</t9n></p>
<div class="row mb-3">
  <div class="col-xs-12 col-md-6 col-lg-4 mb-3 mt-2">
    <div class="card h-100 shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">1. <t9n>[RU]Быстрое знакомство[EN]Overview</t9n></h5>
        <h6 class="card-subtitle mb-2 text-muted">8-10 <t9n>[RU]минут[EN]mins</t9n></h6>
        <p class="card-text"><t9n>[RU]Обзорная экскурсия по Интегралу[EN]Quick tour of Ideav</t9n></p>
        <a onclick="setQip('overview')" href="#!" class="btn btn-outline-secondary mt-auto l-start"><t9n>[RU]Начать[EN]Start</t9n></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-3 mt-2">
    <div class="card h-100 shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">2. <t9n>[RU]Универсальный импорт[EN]Data import</t9n></h5>
        <h6 class="card-subtitle mb-2 text-muted">5-10 <t9n>[RU]минут[EN]mins</t9n></h6>
        <p class="card-text"><t9n>[RU]Создание простых таблиц загрузкой файла[EN]Import of simple tables using file upload</t9n></p>
        <a href="#!" onclick="setQip('upload')" class="btn btn-outline-secondary mt-auto l-upload"><t9n>[RU]Научиться[EN]Take a try</t9n></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-3 mt-2">
    <div class="card h-100 shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">3. <t9n>[RU]Запросы[EN]Queries</t9n></h5>
        <h6 class="card-subtitle mb-2 text-muted">10 <t9n>[RU]минут[EN]mins</t9n></h6>
        <p class="card-text"><t9n>[RU]Конструктор запросов: правила выборки данных из множества таблиц[EN]The Query builder: select data from several tables</t9n></p>
        <a href="#!" onclick="setQip('queries')" class="btn btn-outline-secondary mt-auto l-sql disabled"><t9n>[RU]Сделать выборку[EN]Retrieve data</t9n></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-3 mt-2">
    <div class="card h-100 shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">4. <t9n>[RU]Формы[EN]Dashboards</t9n></h5>
        <h6 class="card-subtitle mb-2 text-muted">8-10 <t9n>[RU]минут[EN]mins</t9n></h6>
        <p class="card-text"><t9n>[RU]Конструктор форм: панели с таблицами и графиками, дэшборды, сводные таблицы[EN]The Form builder: panels with tables and charts, dashboards, pivot tables</t9n></p>
        <a href="#!" onclick="setQip('forms')" class="btn btn-outline-secondary mt-auto l-form disabled"><t9n>[RU]Построить[EN]Build</t9n></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-3 mt-2">
    <div class="card h-100 shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">5. <t9n>[RU]Базы данных[EN]Data structures</t9n></h5>
        <h6 class="card-subtitle mb-2 text-muted">15-20 <t9n>[RU]минут[EN]mins</t9n></h6>
        <p class="card-text"><t9n>[RU]Многомерная структура данных Планировщика задач[EN]Create a multi-level data structure for a Tasks planner</t9n></p>
        <a href="#!" onclick="setQip('tasks')" class="btn btn-outline-secondary mt-auto l-db disabled"><t9n>[RU]Создать[EN]Create</t9n></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-3 mt-2">
    <div class="card h-100 shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><t9n>[RU]Зачет[EN]Quiz</t9n></h5>
        <h6 class="card-subtitle mb-2 text-muted">5 <t9n>[RU]минут[EN]mins</t9n></h6>
        <p class="card-text"><t9n>[RU]Проверьте как вы усвоили материал и выберите платное задание[EN]Check your experience and choose a paid task</t9n></p>
        <a target="my" href="https://ideav.online/my/test" class="btn btn-outline-secondary mt-auto l-test disabled"><t9n>[RU]Сдать[EN]Check out</t9n></a>
      </div>
    </div>
  </div>
</div>
<p><a style="border-bottom: 1px dashed;" class="welcome" href="#" onclick="$('.welcome').toggle(100)"><t9n>[RU]Вы новичок в ИТ?[EN]Are you new to programming?</t9n></a></p>
<div class="alert alert-warning welcome" style="display:none">
    <t9n>[RU]Пара полезных советов по&nbsp;интерактивным урокам[EN]A couple of&nbsp;tips that might be&nbsp;useful</t9n>:
    <ol>
        <li><t9n>[RU]Не всё будет идти гладко, иногда придётся остановиться и&nbsp;искать проблему. Так в&nbsp;любом программировании, будь&nbsp;то с&nbsp;кодом или без.
            [EN]Something always goes unexpected way, thus you have to&nbsp;stop and resolve the problem. That&rsquo;s the law of&nbsp;programming, whether with or&nbsp;without code.</t9n>
        </li>
        <li><t9n>[RU]Если что-то пошло не&nbsp;так, попробуйте просто обновить страницу (F5&nbsp;в Windows, Command+R в&nbsp;маках), это часто помогает.
            [EN]In case something went wrong, try refreshing the page (F5&nbsp;in&nbsp;Windows, Command+R in&nbsp;macs), it&nbsp;often helps.</t9n>
        </li>
    </ol>
    <t9n>[RU]Хорошая новость: если вы&nbsp;прошли урок до&nbsp;конца, то&nbsp;у&nbsp;вас нет противопоказаний продолжать развитие в&nbsp;ИТ.
        [EN]Good news: if&nbsp;you managed to&nbsp;complete the lesson, highly likely, you have no&nbsp;contraindications to&nbsp;continue the growth in&nbsp;IT.
    </t9n>
</div>
<p><t9n>[RU]После этих вводных уроков вы можете изучить <a href="https://help.ideav.online">Руководство разработчика</a> и посмотреть <a target="_blank" href="https://www.youtube.com/channel/UCwycC92C9FIJjm62aO0unIQ/videos">Обучающие ролики партнеров сервиса</a>, после чего вы сможете делать приложения любой сложности.[EN]</t9n></p>
<p><t9n>[RU]Ваш личный кабинет IdeaV находится <a target="_my" href="/my?login={_global_.z}">здесь</a>.[EN]Your IdeaV private space <a target="_my" href="/my">is here</a>.</t9n></p>
</div><!--/Frame-->
<script>
if(document.documentElement.clientWidth>700)
    $('#frame').css('margin','20px');
function setQip(q){
    document.cookie='_qip='+(_qip=q)+';Path=/'+db+'; max-age=31622400;';
    document.location.reload();
}
function intApi(m,u,b,vars,index){ // Параметры: метод, адрес, действие - ветка switch, параметры, ID целевого элемента
    vars=vars||''; // По умолчанию список параметров пуст
    var h='',i,j,json,obj=new XMLHttpRequest(); // Объявляем переменную под JSON и API по HTTPS
    obj.open(m,'/'+db+'/'+u,true); // Открываем асинхронное соединение заданным методом по нужному адресу
    if(m=='POST'){ // Если это POST запрос, то передаем заданные параметры
        if(typeof vars=='object')
            vars.append('_xsrf',xsrf);
        else{
            obj.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
            vars='_xsrf='+xsrf+'&'+vars; // добавляем токен xsrf, необходимый для POST-запроса
        }
    }
    obj.onload=function(e){ // Когда запрос вернет результат - сработает эта функция
        try{ // в this.responseText лежит ответ от сервера
            json=JSON.parse(this.responseText); // Пытаемся разобрать ответ как JSON
        }
        catch(e){ // Если произошла ошибка при разборе JSON
            console.log(e); // то выводим детали этой ошибки в консоль браузера
            console.log(this.responseText);
        }
        obj.abort(); // Закрываем соединение
        switch(b){ // Отрабатываем заданную команду - переходим в соответствующую ветку case
            case 'upload':
                for(i in json)
                    if(json[i].toLowerCase()==='тип ресурса'){
                        $('a.mt-auto').removeClass('disabled');
                        $('a.l-test').removeClass('btn-outline-secondary').addClass('btn-primary');
                        return;
                        
                    }
                for(i in json)
                    if(json[i].toLowerCase()==='movie')
                        return intApi('GET','object/22?JSON','sql');
                $('.l-start,.l-upload').removeClass('btn-outline-secondary').addClass('btn-primary');
                break;
            case 'sql':
                $('.l-sql').removeClass('disabled');
                for(i in json.object)
                    if(json.object[i].val===t9n('[RU]Средняя длительность[EN]Average duration')){
                        $('.l-form').removeClass('disabled');
                        for(i in json.object)
                            if(json.object[i].val===t9n('[RU]Статистика[EN]Stats'))
                                return $('.l-db').removeClass('btn-outline-secondary').removeClass('disabled').addClass('btn-primary');
                        $('.l-form').removeClass('btn-outline-secondary').addClass('btn-primary');
                        return;
                    }
                $('.l-sql').removeClass('btn-outline-secondary').addClass('btn-primary');
                break;
        }
    };
    obj.send(vars); // отправили запрос и теперь будем ждать ответ, а пока - выходим
}
intApi('GET','dict?JSON','upload');
</script>
