<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/css.css?{_global_.version}" />
    <title>Integram</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <script>
        var db='{_global_.z}',xsrf='{_global_.xsrf}',id='{_global_.id}',token='{_global_.token}',uid='{_global_.user_id}',action='{_global_.action}',menu=[];
    </script>
    <script src="/js/js.js?{_global_.version}"></script>
    <script>
        <!-- Begin:MyRoleMenu -->menu.push({href:'{HREF}',name:'{Name}'});
        <!-- End:MyRoleMenu -->
		<!-- Begin:&Top_Menu -->menu.push({href:'{TOP_MENU_HREF}',name:'{TOP_MENU}'});
		<!-- End:&Top_Menu -->
    </script>
    <script src="/js/moment.min.js"></script>
</head>
<body>
<nav id="nav" class="navbar shadow-sm navbar-expand-562 fixed-top dark navbar-fixed-top">
    <a id="brand" class="navbar-brand" href="/{_global_.z}/">
        <img src="/i/lamp.png" width="30" loading="lazy"/>
    </a>
    <button onclick="burgerClick(this)" class="navbar-toggler expand-menu" type="button"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 16 16" class="icon" style="shape-rendering: geometricprecision; margin-top: 0px;">
                <path fill-rule="evenodd" class="" fill="currentColor" d="M2,12 C2,11.4477153 2.45576096,11 3.00247329,11 L12.9975267,11 C13.5511774,11 14,11.4438648 14,12 C14,12.5522847 13.544239,13 12.9975267,13 L3.00247329,13 C2.44882258,13 2,12.5561352 2,12 Z M2,8 C2,7.44771525 2.45576096,7 3.00247329,7 L12.9975267,7 C13.5511774,7 14,7.44386482 14,8 C14,8.55228475 13.544239,9 12.9975267,9 L3.00247329,9 C2.44882258,9 2,8.55613518 2,8 Z M2,4 C2,3.44771525 2.45576096,3 3.00247329,3 L12.9975267,3 C13.5511774,3 14,3.44386482 14,4 C14,4.55228475 13.544239,5 12.9975267,5 L3.00247329,5 C2.44882258,5 2,4.55613518 2,4 Z"></path>
            </svg>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="navbar-list" class="navbar-nav">
            <div id="navlist" class="hidden">
                <li class="nav-item"><a class="nav-link" id="list:id:" href="/{_global_.z}/:href:">:name:</a></li>
            </div>
            <div id="extralist" class="hidden">
                <li id="dropdown-link" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle expand-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Еще
                    </a>
                    <div class="dropdown-menu" id="dropdown-list" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/{_global_.z}/:href:">:name:</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <div class="right-block" id="right_block">
        <div class="nav-item dropdown">
            <a class="user-link dropdown-toggle user-margin" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg height="30" viewBox="0 0 18 20" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 19V17C17 15.9391 16.5786 14.9217 15.8284 14.1716C15.0783 13.4214 14.0609 13 13 13H5C3.93913 13 2.92172 13.4214 2.17157 14.1716C1.42143 14.9217 1 15.9391 1 17V19M13 5C13 7.20914 11.2091 9 9 9C6.79086 9 5 7.20914 5 5C5 2.79086 6.79086 1 9 1C11.2091 1 13 2.79086 13 5Z" stroke="#fafafa" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </a>
            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" target="_blank" href="https://help.integram.io/"><t9n>[RU]Помощь[EN]Help</t9n></a>
                <a target="_blank" href="/my?login={_global_.z}">
                    <div class="dropdown-item box">
                        <span><t9n>[RU]ЛК / Счет[EN]My account</t9n></span>
                    </div>
                </a>
                <a class="dropdown-item" onclick="toggleLocale()">EN/RU</a>
                <a class="dropdown-item" onclick="$('.cp-form').css('display','table');$('.ch-toggle').show();$('.wait-toggle').hide();"><t9n>[RU]Сменить пароль[EN]Change password</t9n></a>
                <a class="dropdown-item" onclick="exitLogin()"><t9n>[RU]Выйти[EN]Exit</t9n></a>
                <a class="dropdown-item" href="/{_global_.z}/exit"><t9n>[RU]Выйти везде[EN]Exit all devices</t9n></a>
            </div>
        </div>
    </div>
</nav>
<div class="cp-form" style="display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 9999; background: rgba(255,255,255,.5);" onclick="$(this).hide();">
  <div class="middle" style="display: table-cell; vertical-align: middle;" onkeyup="if(event.keyCode===13)changePwd()">
    <div class="inner p-4 shadow" style="margin-left: auto; margin-right: auto; border: 1px solid gray; border-radius: 3px; background-color: #fbfbfb; max-width: 348px;" onclick="event.stopPropagation();">
        <div class="w-100 text-center mb-3">
            <h5><t9n>[RU]Смена пароля[EN]Password change</t9n></h5>
        </div>
        <div id="pwdchangemsg" class="alert w-100" style="display: none;"></div>
        <label for="old-pwd" class="mb-0"><t9n>[RU]Действующий пароль[EN]Current password</t9n></label>
        <input type="password" id="old-pwd" class="form-control pr-1 pl-1 mb-2" style="border: 1px solid lightgray !important;">
        <label for="new-pwd" class="mb-0"><t9n>[RU]Новый пароль[EN]New password</t9n></label>
        <input type="password" id="new-pwd" class="form-control pr-1 pl-1 mb-2" style="border: 1px solid lightgray !important;">
        <label for="new-again" class="mb-0"><t9n>[RU]Повторите пароль[EN]Repeat password</t9n></label>
        <input type="password" id="new-again" class="form-control pr-1 pl-1 mb-2" style="border: 1px solid lightgray !important;">
        <div class="row pt-3">
            <div class="col-12 text-center">
                <span><img class="wait-toggle" style="display:none;" src="/i/ajax.gif"></span>
            </div>
            <div class="col-6 pr-2 ch-toggle">
                <button class="btn btn-primary btn-block mr-3" type="button" onclick="changePwd()"><t9n>[RU]Сменить[EN]Change</t9n></button>
            </div>
            <div class="col-6 pl-2 ch-toggle">
                <button class="btn btn-outline-secondary btn-block mr-3" type="button" onclick="$('.cp-form').hide();"><t9n>[RU]Отменить[EN]Cancel</t9n></button>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="content">
<!-- File: a -->
</div>
<div class="footer">
<!--Elapsed-->
</div>
<FORM method="POST" id="post" action="/{_global_.z}/"><input type="hidden" name="_xsrf" value="{_global_.xsrf}"></FORM>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js?{_global_.version}"></script>
<script>
localize();
function changePwd(){
    if($('#old-pwd').val()===''||$('#new-pwd').val()===''||$('#new-again').val()==='')
        return changeMsg('alert-danger',t9n('[RU]Заполните все поля[EN]Please fill in the inputs'));
    $('.ch-toggle,wait-toggle').toggle();
    var obj=new XMLHttpRequest();
    obj.open('POST','/'+db+'/auth?JSON',true);
    obj.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
    obj.onload=function(e){
        $('.ch-toggle,wait-toggle').toggle();
        try{
            json=JSON.parse(this.responseText);
        }
        catch(e){
            console.log(e);
            $('#pwdchangemsg').html(this.responseText);
        }
        if(json.msg){
            if(json.msg.indexOf('[err')===-1){
                changeMsg('alert-success',json.msg);
                $('#old-pwd,#new-pwd,#new-again').val('');
            }
            else
                changeMsg('alert-danger',json.msg.replace(/ ?\[.+\]/,''));
            token=json.token;
            xsrf=json.xsrf;
        }
        else
            changeMsg('alert-danger',t9n('[RU]Неверный пароль[EN]Wrong password'));
        obj.abort();
    }
    obj.send('change=1&login={_global_.user}&pwd='+$('#old-pwd').val()+'&npw1='+$('#new-pwd').val()+'&npw2='+$('#new-again').val());
}
function changeMsg(cl,msg){
    $('#pwdchangemsg').removeClass('alert-danger').removeClass('alert-success').addClass(cl).html(msg).show().delay(4500).slideUp(400);
}
function exitLogin(){
    document.cookie='{_global_.z}=;Path=/';
    document.location.href='/{_global_.z}'; 
}
function toggleLocale(){
    document.cookie='{_global_.z}_locale='+(locale==='[EN]'?'RU':'EN')+';Path=/';
    location.reload();
}
// Check if Quest in progress
var _qip=getCookie('_qip');
function questInit(){
    if(_qip!==undefined){
        var script = document.createElement("script");
        script.src = "/download/lesson.js?"+Math.random();
        document.head.appendChild(script);
    }
}
questInit();
</script>
</body>
</html>
